    <!-- Footer -->
<footer class="container-fluid bg-4 text-center footer">
    <p>Locally Made By <a href="@Url.Action("About","Home")">CodeBlocksTeam </a>  © @DateTime.Now.Year </p>
</footer>
<!-- Footer -->
